<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicknames</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="back_color">
    <form action="/welcome" method="post">
        <div class="input_wrapper">
            <h1 class="title">NICKNAME</h1>
            <input type="text" onKeyup="this.value=this.value.replace(/[0-9]/g, ''); " id="text_box" name="name" placeholder="NAME">
            <br>
            <input type="text" id="text_box" name="nickname" placeholder="NICKNAME">
            <br>
            <button type="submit" id="mouse_on" formmethod="POST" onclick="alert('submitted')">SUBMIT</button>
        </div>
    </form>
    <form action="/result" method="POST">
        <div class="search_wrapper">
            <input type="text" class="search_text" onKeyup="this.value=this.value.replace(/[0-9]/g, ''); " name="search_word" placeholder="SEARCH NICKNAME AS NAME">
            <br>
            <button type="submit" id="mouse_on" formmethod="POST" >SEARCH</button>
        </div>
    </form>
</body>

</html>