<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/search.css">
    <script src="../static/js/main.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
</head>
<body>
    <div class="result_wrapper">
        <h1 class="header">WELCOME {{value1}}</h1>
        <script>func()</script>
    </div>
</body>
</html> 