.input_wrapper{
    padding: 40px;
    display: grid;
    place-items: center;
}

.search_wrapper{
    display: grid;
    place-items: center;
}

.search_text{
    min-width: 195px;
}
#text_box{
    min-width: 195px;
    text-align: center;
    font-style: italic;
}

.back_color{
    background: linear-gradient(to right, blue, pink);
}

#mouse_on{
    cursor: pointer;
}

.title {
    font-size: 40px;
  }
   
  @media (max-width: 600px) {
    .title {
      font-size: 35px;
    }
  }@media (min-width: 1400px) {
    .title {
      font-size: 50px;
    }
  }