.input_wrapper{
    padding: 40px;
    display: grid;
    place-items: center;
}

.search_wrapper{
    display: grid;
    place-items: center;
    text-align: center;
}

.search_text{  
  min-width: 360px;
  font-size: 140%;
  text-align: center;
  border-width: medium;
  border-style: solid;
  border-color: gray;
  border-radius: 20px;
  font-style: italic;
}
#text_box{
    min-width: 360px;
    font-size: 140%;
    text-align: center;
    border-width: medium;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    font-style: italic;
}

.back_color{
    background: linear-gradient(to right, blue, pink);
}

#mouse_on{
    cursor: pointer;
    font-size: 120%;
    border-width: medium;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
}

.title {
    font-size: 40px;
  }
   
  @media (max-width: 600px) {
    .title {
      font-size: 35px;
    }
  }@media (min-width: 1400px) {
    .title {
      font-size: 50px;
    }
  }