.input_wrapper{
    margin: 40px;
    display: grid;
    place-items: center;
}

.search_wrapper{
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    place-items: center;
}

.search_text{  
  min-width: 450px;
  font-size: 170%;
  font-weight: 600;
  text-align: center;
  border-width: medium;
  border-style: solid;
  border-color: gray;
  border-radius: 20px;
  font-style: italic;
}
#text_box{
    min-width: 450px;
    font-size: 170%;
    font-weight: 600;
    text-align: center;
    border-width: medium;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    font-style: italic;
}

.back_color{
    background: linear-gradient(to right, blue, pink);
}

#mouse_on{
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
    border-width: medium;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
}

.title {
    font-size: 50px;
  }
   
  @media (max-width: 800px) {
    .title {
      font-size: 35px;
    }
  }@media (min-width: 1400px) {
    .title {
      font-size: 65px;
    }
  }